<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895361789445-v07a15mgqho38hg67dfakekqvp1je955.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895361789445-v07a15mgqho38hg67dfakekqvp1je955</string>
	<key>API_KEY</key>
	<string>AIzaSyDxHybOVs96pZ51UbmxhJklRQbv0T2py08</string>
	<key>GCM_SENDER_ID</key>
	<string>895361789445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-chat-b842d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-chat-b842d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895361789445:ios:d86cc6f7986ef76deef66c</string>
</dict>
</plist>